

										<!-- here ends the part which will be added through the wordpress editor -->

									</div>
									<!-- .entry-content -->
								</article>
								<!-- #post-## -->
							</main>
							<!-- #main -->
						</section>
						<!-- #primary -->
					</div>
					<!-- .row -->
				</div>
				<!-- .container -->
			</div>
			<!-- #content -->
			<footer id="colophon" class="site-footer fs-container" role="contentinfo">
                <div class="fs-row fs-margin-1">
                    <div class="center-text">
                        <a href="#top" class="fs-button" id="toplink">top!</a>
                    </div>
                </div>
                <div class="fs-row center-text fs-margin-1">
                    <ul  class="navbar-nav">
                        <li>&copy; 2018 - gpmc.ch</li>
                        <li><a href="#">Impressum</a></li>
                        <li><a href="#">Kontakt</a></li>
                    </ul>
                </div>
			</footer>
			<!-- #colophon -->
		</div>
		<!-- #page -->
	</body>
</html>
