
<header id="masthead" class="site-header" role="banner">
   <div class="container-small">
      <div class="row">
         <div class="col-md-12">
            <nav class="navbar navbar-expand-xl navbar-dark">
               <a class="navbar-brand" href="index.html">
                  <img src="./assets/kapitel/allgemein/img/SVG/logo_firststeps.svg" alt="Logo First Steps">
               </a>
               <div class="menu-header-menu-container">
                  <ul id="menu-header-menu" class="navbar-nav">
                     <li class="nav-item menu-item active"><a title="Übersicht" href="index.html" class="nav-link">Übersicht</a></li>
                     <li class="nav-item menu-item "><a title="Kontakt" href="kontakt.html" class="nav-link">Kontakt</a></li>
                  </ul>
               </div>
            </nav>
         </div>
      </div>
   </div>
</header>
