
<header id="masthead" class="site-header" role="banner">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <nav class="navbar navbar-expand-xl navbar-dark p-0">
               <a class="navbar-brand" href="index.html">
                  <img src="assets/img/logo_fs.svg" alt="Logo First Steps">
               </a>
               <div class="menu-header-menu-container">
                  <ul id="menu-header-menu" class="navbar-nav">
                     <li id="menu-item-9" class="nav-item menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-4 current_page_item menu-item-9 active"><a title="Übersicht" href="index.html" class="nav-link">Übersicht</a></li>
                     <li id="menu-item-29" class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-29"><a title="Kontakt" href="kontakt.html" class="nav-link">Kontakt</a></li>
                  </ul>
               </div>
            </nav>
         </div>
      </div>
   </div>
</header>