/**
chapters.css
**/

.fs-wrapper {
   padding-top: 40px;
}

/**
chapter 01 - austauschen
*/
.fs-chapter-exchange,
.fs-chapter-do,
.fs-chapter-discover {
   padding-bottom: 6rem;
}




.fs-chapter-intro {
	background: var(--color-red);
	color: #ffffff;
	padding-top: 2rem;
	margin-bottom: 0px;
	position: relative;
   border-top: .5rem solid var(--color-red-darker);

	.fs-chapter-title {
		font-size: 2.6875rem;
		font-weight: 300;
		text-transform: uppercase;
		line-height: 3.6875rem;
	}
	p {
		font-size: 1.3125rem;
		line-height: 1.33333;
	}

	hr {
		color: #fff;
		width: 100px;
		border: 0.5px solid #fff;
		margin: 1em 0;
        height: auto;
	}

	h1 {
			font-size: 5.5625rem;
			font-weight: 900;
			text-transform: uppercase;
			line-height: 0.95;
         font-family: 'latobold';
	}
   em {
       font-family: 'latolight', serif;
       font-size: 0.905em;
       font-style:italic;
       font-weight: lighter;
   }

	a {
        margin: 10px 0;
	}



}

/*.fs-hero-row:after, .*/
.fs-chapter-intro:after, .fs-page-index #masthead:after {
		display: block;
		margin: 0 auto;
		max-width: 330px;
      height: 45px;
		background: url(var(--path-static-images)chapter_01_after.png) no-repeat scroll center top;
		content: '';
		left:0;
		right: 0;
		bottom: -45px;
		position: absolute;
      z-index: 1;
}

.fs-chapter-exchange {
   background: var(--chapter-exchange-bg);


    h2 {
       color: #ffffff;
       &:before {
         content: '';
         display: block;
         margin: 4rem auto -1rem;
         width: 60px;
         height: 60px;
         background-image: url(var(--path-static-images)chp02_icon.svg);
         background-size: cover;
         background-repeat: no-repeat;
      }
    }

}



.fs-chapter-discover,.fs-chapter-neutral {

   background: var(--chapter-discover-bg);
   margin-bottom: 5rem;

   &:before {
       background-image: svg(kapitel_spacer param(--color var(--chapter-discover-bg))) !important;
   }

   h2 {
      color: var(--color-red);
      &:before {
         content: '';
         display: block;
         margin: 0 auto;
         width: 50px;
         height: 50px;
         margin-bottom: 0;
         position: relative;
         z-index: 1;
         background: url(var(--path-static-images)chp02_icon.svg) no-repeat scroll center;
         background-size: cover;
         background-repeat: no-repeat;
      }
   }
}



/**
chapter 03 - Tun
*/

.fs-chapter-do {
   background: var(--chapter-do-bg);
   &:before {
      background-image: svg(kapitel_spacer param(--color var(--chapter-do-bg)))!important;
   }
    h2 {
        color: var(--color-red-darker);
    }
    .fs-box {
        background: var(--color-orange);
        border-color: var(--color-brown);
        color: #fff;
    }
    .fs-box.fs-question:after, .fs-box.fs-biblebold:after {
       background: svg(speechthingyleft param(--color var(--color-orange-darker)));
    }
    .fs-tilted-background {
	   background: linear-gradient(-4deg, var(--color-brown) 130px, transparent 131px);
    }
    .fs-tilted-background-2 {
	   background: linear-gradient(4deg, var(--color-brown) 130px, transparent 131px);
    }

}


.fs-chapter-pray {
   background: var(--chapter-pray-bg);
   margin-bottom: 4rem;
     &:before {
        background-image: svg(kapitel_spacer param(--color var(--chapter-pray-bg)))!important;
     }
     .fs-hero-row {
        padding-top: 8rem;
        padding-bottom: 8rem;
     }
}
