/**
chapters.css
**/

.fs-wrapper {
   padding-top: 40px;
}

/**
chapter 01 - austauschen
*/
.fs-chapter-exchange,
.fs-chapter-do,
.fs-chapter-discover {
   padding-bottom: 6rem;
}

.fs-chapter-exchange {
   background: var(--chapter-exchange-bg);


    h2 {
       color: #ffffff;
       &:before {
         content: '';
         display: block;
         margin: 0 auto;
         width: 60px;
         height: 60px;
         background-image: url(../kapitel/allgemein/img/SVG/icon_sektion_01.svg);
         background-size: cover;
         background-repeat: no-repeat;
      }
    }

}



.fs-chapter-discover,.fs-chapter-neutral {

   background: var(--chapter-discover-bg);
   margin-bottom: 5rem;
   
   &:before {
       background-image: svg(kapitel_spacer param(--color var(--chapter-discover-bg))) !important;
   }

   h2 {
      color: var(--color-red);
      &:before {
         content: '';
         display: block;
         margin: 0 auto;
         width: 50px;
         height: 50px;
         margin-bottom: 0;
         position: relative;
         z-index: 1;
         background: url(var(--path-static-images)chp02_icon.svg) no-repeat scroll center;
         background-size: cover;
         background-repeat: no-repeat;
      }
   }
}



/**
chapter 03 - Tun
*/

.fs-chapter-do {
   background: var(--chapter-do-bg);
   &:before {
      background-image: svg(kapitel_spacer param(--color var(--chapter-do-bg)))!important;
   }
    h2 {
        color: var(--color-red-darker);
    }
    .fs-box {
        background: var(--color-orange);
        border-color: var(--color-brown);
        color: #fff;
    }
    .fs-box.fs-question:after, .fs-box.fs-biblebold:after {
       background: svg(speechthingyleft param(--color var(--color-orange-darker)));
    }
    .fs-tilted-background {
	   background: linear-gradient(-4deg, var(--color-brown) 130px, transparent 131px);
    }
    .fs-tilted-background-2 {
	   background: linear-gradient(4deg, var(--color-brown) 130px, transparent 131px);
    }

}


.fs-chapter-pray {
   background: var(--chapter-pray-bg);
   margin-bottom: 4rem;
     &:before {
        background-image: svg(kapitel_spacer param(--color var(--chapter-pray-bg)))!important;
     }
}
