
@font-face {
   font-family: 'latoregular';
   src: url('../fonts/lato/lato-regular-webfont.woff2') format('woff2'),
        url('../fonts/lato/lato-regular-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'latolight';
   src: url('../fonts/lato/lato-light-webfont.woff2') format('woff2'),
        url('../fonts/lato/lato-light-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'latobold';
   src: url('../fonts/lato/lato-bold-webfont.woff2') format('woff2'),
        url('../fonts/lato/lato-bold-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
    font-family: 'roboto_slabbold';
    src: url('../fonts/roboto/robotoslab-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto/robotoslab-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arvobold';
    src: url('../fonts/arvo/arvo-bold-webfont.woff2') format('woff2'),
         url('../fonts/arvo/arvo-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/**
stuff from typography.css
**/
h1, h2, h3, h4, h5, h6 {
    font-family: 'latoregular', serif;
    line-height: 1;
    letter-spacing: -1px;
    word-spacing: 2px;
    font-weight: bold;

   small {
      display: block;
      font-size: 60%;
      margin-top: 0.5em;
      font-weight: normal;
   }
}

h2 {
	font-size: 3.75rem;
	text-transform: uppercase;
	text-align: center;
	margin: 0.2em 0 0.5em;
    font-weight: 900;
    letter-spacing: 0.14em;



	&:before {
		content: '';
		display: block;
		margin: 0 auto;
		width: 50px;
		height: 50px;
		background: url(var(--path-static-images)chp02_icon.png) no-repeat scroll center;
        background-size: contain;
	}


}
h3, h4 {
    font-size: 1.6875rem;
    color: #575756;
    margin-bottom: 0.65em;
    letter-spacing: 0.08em;
    font-weight: 900;
    /* text-transform: uppercase; */

    &.fs-hero {
        text-transform: uppercase;
        font-size: 2.25rem;
        color: var(--color-red);
        margin-bottom: 0.2em;
    }
}


header {

}

em {
    font-family: 'latoregular', serif;
    font-size: 0.905em;
    font-style:italic;
    font-weight: lighter;
}

body {
    font-family: 'latolight', sans-serif;
    line-height: 1.7;
}
body a {
    color: #8967bd;
}
body a:hover {
    color: #8967bd;
    text-decoration: none;
}

/*
p.fs-bodytext, p.caption,.fs-biblequote-inline, label {
    font-size: 1.25rem;
    font-weight: 100;
}
*/
.entry-content {
   font-size: 1.25rem;
   font-weight: 100;
}

.navbar-brand a {
    font-family: 'roboto_slabbold', serif;
    font-weight: bold;
}

/**
END of stuff from typography.css
**/
