
@font-face {
   font-family: 'latoregular';
   src: url('../fonts/lato/lato-regular-webfont.woff2') format('woff2'),
        url('../fonts/lato/lato-regular-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'latolight';
   src: url('../fonts/lato/lato-light-webfont.woff2') format('woff2'),
        url('../fonts/lato/lato-light-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'latobold';
   src: url('../fonts/lato/lato-bold-webfont.woff2') format('woff2'),
        url('../fonts/lato/lato-bold-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
    font-family: 'roboto_slabbold';
    src: url('../fonts/roboto/robotoslab-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto/robotoslab-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arvobold';
    src: url('../fonts/arvo/arvo-bold-webfont.woff2') format('woff2'),
         url('../fonts/arvo/arvo-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/**
stuff from typography.css
**/
h1, h2, h3, h4, h5, h6 {
    font-family: 'arvobold', serif;
    line-height: 1.25;
    letter-spacing: -1px;
    word-spacing: 2px;
    font-weight: bold;

   small {
      display: block;
      font-size: 60%;
      margin-top: 0.5em;
      font-family: 'latolight', serif;
      font-weight: normal;
   }
}

h1 {

}

h2 {
	font-size: 6.5rem;
	text-align: center;
	margin: 0.2em 0 0.5em;
   font-family: 'arvobold';
   letter-spacing: 0.03em;
   color: white;
   word-break: break-word;
}
h3, h4 {
    font-size: 2rem;
    color: var(--color-red-alternate);
    letter-spacing: 0.08em;
    font-weight: 900;
    /* text-transform: uppercase; */

    &.fs-hero {
        text-transform: uppercase;
        font-size: 2.25rem;
        margin-bottom: 0.2em;
    }
}


strong {
   font-family: 'latobold', sans-serif;
}



body {
    font-family: 'latolight', sans-serif;
    line-height: 1.7;
}
body a {
    color: #8967bd;
}
body a:hover {
    color: #8967bd;
    text-decoration: none;
}
 
i {
   padding-right: 5px;
   font-size: 0.9em;
}

/*p, blockquote, p.caption,.fs-biblequote-inline, label */
body {
    font-size: 1.25rem;
    font-weight: 100;
}

.navbar-brand a {
    font-family: 'roboto_slabbold', serif;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
   html {
      font-size: 14px;
   }
   h2 {
      font-size: 4rem;
   }
}

/**
END of stuff from typography.css
**/
