
:root {
	/**
		colors
	**/
	--color-red: #E56A6A;
	--color-red-darker:#CE5757;

	--color-yellow: #FFEEB7;
	--color-yellow-darker:#E5AA3B;

	--color-blue:#6BA6AD;
	--color-blue-darker: #468F98;

    --color-orange:#D35B28;
	--color-orange-darker: #D35B28;

    --color-brown:#DC982D;
	--color-brown-darker: #DC982Dz;

	--color-lightgrey:#E8E8E8;
	--color-grey:#BFBFBF;

	--color-main-text: #606060;
	--color-head-background:var(--color-red);


    /**
        path
    **/
    --path-static-images: ../img/;


	/**
		sizes
	**/
	--size-attentionseeker: 52px;
	--size-box-radius: 20px;

	/**
		fonts
	**/
	--font-alternative1: 'arvobold', serif; /* used for big questions in the boxes */
}
