:root {
	/**
		colors
	**/
	--color-red: #E56A6A;
	--color-red-darker:#CE5757;

	--color-yellow: #FFEEB7;
	--color-yellow-darker:#E5AA3B;

	--color-blue:#6BA6AD;
	--color-blue-darker: #468F98;

	--color-lightgrey:#5D5D5D;


	--color-main-text: var(--color-lightgrey);
	--color-head-background:var(--color-red);



	/**
		sizes
	**/
	--size-attentionseeker: 52px;
	--size-box-radius: 20px;

	/**
		fonts
	**/
	--font-alternative1: 'Arvo', serif; /* used for big questions in the boxes */
}
